#updates, form {
    display: none;
}

#currentscore {
    display: block;
    position: absolute;
    top: 20px; right: 20px;
    padding: 20px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #111;
    color: #fff;
}

